custom_domain = {
    key = {
        hostname            = domain.com
        app_service_name    = app1
        location            = location
        resource_group_name = resource_group_name
        cert_key            = domain_com
    }
}
app_service_certificate = {
    key = {
        name                     = cert_friendly_name
        resource_group_name      = resource_group_name
        location                 = location
        key_vault_certificate_id = resource_id_of_the_certificate
    }
}